*
{
    margin: 0;
    padding: 0;
}

.logoafpa
{
    width: 10%;
}
label
{
    font-size: 200%;
}
.tittle
{
    display: flex;
    align-items: center;
    width: 100%;
}
h1
{
    font-size: 300%;
}
span
{
    color: red;
}
input
{
    margin-left: 20px;
}
