*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 8%;
    border:1px solid black;
    box-shadow: 1px 1px 6px green;
    border-radius: 3%;
    padding: 4%;
}
.tittle
{
    display: block;
}

.logoafpa
{
    width: 10%;
    
}
label
{
    font-size: 150%;
    margin: 30% ;
}
.formulaire
{
    display: flex;
    align-items: center;
    width: 10%;
    margin: 3%;
    
}
h1
{
    font-size: 300%;
    width: 50%;
}
span
{
    color: green;

}



